*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  span {
    /* border: solid; */
    padding: 8px;
    /* background-color: lightblue; */
    margin: 23px;
    font-size: 17px;
    font-family: 'Raleway',sans-serif;
}

#title{
    font-size: 30px;
    margin-left: 101px;
    margin-right: 262px;
}
#title a{
    text-decoration: none;
    color:black;
}

header {
    width: 100%;
    /* background-color: lightskyblue; */
    height: 61px;
    padding-top: 13px;
    padding-left: 50px;
}

.box{
    width: 129px;
    height: 134px;
    background-color: lightcoral;
}

#mainpic {
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding-left: 83px;
}
video{
    width: 93%;
}

#playpic{
    position: absolute;
    margin-top: -32px;
    margin-left: 192px;
}

#playpic img{
    width: 65px;
}

#paragraph{
    text-align: center;
    margin: 47px 65px;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    line-height: 30px;
}

#add img{
    width: 93%;
}
#add{
    padding-left: 73px;
}
.popular{
    text-align: center;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    line-height: 30px;
    margin: auto;
    padding: 45px 0px;
    width: 50%;
}

/* slider animation */


    .slider {
        width: 1111px;
        height: 458px;
        border: solid black;
        overflow: hidden;
        margin-left: 79px;
    }

.slide-images{
    position: relative;
    width: 4420px;
    animation-name: sliding;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes sliding{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -1105px;  
    }
    45%{
        left: -1105px;
    }
    50%{
        left: -2210px;
    }
    70%{
        left: -2210px;
    }
    75%{
        left: -3305px;
    }
    95%{
        left: -3305px;
    }
    100%{
        left: -4410px;
    }

}

.slide-images img{
    float: left;
}

#popular-in-india{
    width: 315px;
    display: table;
    height: 374px;
    /* background-color: lightcoral; */
    position: absolute;
    margin-left: 748px;
    /* margin-bottom: 65px; */
    margin-top: -418px;
    background-color: rgb(255, 255, 255, 0.4);
}
.popular-container{
    width: 100%;
    /* height: 100px; */
    /* background-color: lightsalmon; */
    border-bottom: solid
    border-width: thin;
    display: table;
}
nav{
    float: left;
    width: 30%;
    padding: 10px;
}

article{
    float: left;
    width: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 10px;
    padding-top: 20px;
}

#must-visit{
    align-items: center;
    margin-top: 73px;
    margin-bottom: 34px;
    line-height: 35px;
}

#must-visit h2{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}
#must-visit p{
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    margin-top: 10px;
}

.card-container{
    display: table;
    width: 80%;
    margin-left: 111px;
}

.card-container a{
    text-decoration: none;
    color: black;
}

.card{
    float: left;
    width: 33.33%;
    /* background-color: lightsalmon; */
    align-items: center;
    text-align: center;
}

/* jaipur page css */
#jaipur-title{
    
        position: absolute;
        margin-top: -318px;
        margin-left: 536px;
        text-align: center;
        
            
}

#jaipur-title h3{
    font-size: 49px;
    color: white;
}

#jaipur-title p{
    font-size: 38px;
    color: white;
}

.jaipur{
    display: table;
    /* background-color: rgb(192, 168, 168); */
    width: 81%;
    margin-left: 133px;

}

.jaipur nav{
    float: left;
    width: 50%;
    padding: 10px;
}

.jaipur article{
    float: left;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 10px;
    padding-top: 71px;
    font-size: 1.5em;
    line-height: 1.72;
    color: #5a5a5a;
}

.book{
    /* background-color: lightskyblue; */
    /* color: black; */
    padding 5px;
    text-align: center;
}
.book a{
    border: black;
    text-decoration: none;
    color: black;
    background-color: skyblue;
    font-size: 22px;
    padding: 12px;

}

footer{
    width: 100%;
    height: 100px;
}